*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* Header CSS Start */
header{
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(241, 242, 245);
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0%;
    z-index: 900px;
    /* margin: 0px 0px 0px 15px; */
}
.div1{
    width: 100%;
    display: flex;
}

/* Link Styling */
.anlink{
    text-decoration: none;
    color: black;
}

/* Logo Section */
.head1{
    width: 50%;
    margin-left: 20px ;
    justify-items: center;
    align-content: center;
    flex: 1;
}

.ten{
    margin: 5px;
    display: inline-block;
}
.logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.head_nm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550; 
    display: inline-block; 
    vertical-align: middle;
}

.head2{
    width: 50%;
    text-align: right;
    justify-items: center;
    align-content: center;
    margin-right: 20px;
}

.search{
    width: 224px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 0px 14px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(235, 236, 238);
}

.symbol{
    display: inline-block;
    justify-items: flex-start;
    align-content: flex-start;
    vertical-align: middle;
}
.se{
    margin: auto;
}

.srch{
    color: rgb(150, 150, 150);
    font-size: 17px;
}

.src{
    color: rgb(196, 196, 196);
    font-size: 11px;
    margin-left: 20px;
}


.menu-icon{
    display: none;
    cursor: pointer;
}

/* Panel Css Start */

.div2{
    display: flex;
    flex: 1;
}

.panel{
    width: 25%;
    text-align: left;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    padding: 10px 5px 30px 0px;
    max-height: 100%;
    overflow: visible;
    transition: max-height 0.5s ease-out; 
}

/* When menu is shown */
.show-menu {
    max-height: 500px;
}

/* Unordered List */
.unorder{
    list-style-type: none;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
}

.unorder li{
    padding-left: 0;
    margin-bottom: 10px;
}

.cont{
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 20px;
}

.list{
    font-size: 14px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    padding: 6px 6px 6px 20px;
}

.panel .list:hover{
    border-radius: 5px;
    color: rgb(52, 109, 219);
    background-color: rgba(133, 173, 253, 0.824);
}

.panel .anlink:hover{
    color: rgb(52, 109, 219);
}

/* Panel Css End */

/* Main CSS Start */
.main{
    width: 50%;
    text-align: left;
    padding: 2%;
}

.bold_nm{
    margin-bottom: 2%;
}

.para{
    width: 95%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.brain{
    width: 95%;
    height: 332px;
    margin-bottom: 20px;
}

.vid{
    width :95%;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Device Connection */
.conet{
    width: 95%;
}
.connect{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center; 
}

.anli{
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
}
.lside{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    padding-left: 10px;
}
.nxt{
    margin-top: 5px;
    font-size: 14px;
}

.dc{
    font-size: 18px;
}

.for{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.frwd{
    width: 24px;
    height: auto;
}

.connect  .anli:hover{
    color: rgb(52, 109, 219);
}
/* Main CSS End */

/* Media Queries for Responsiveness */

/* For Tablet Screens (max-width: 768px) */
@media only screen and (max-width: 768px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .div1{
        width: 100%;
    }
    .head1{
        width: 100%;
    }
    .head2{
        text-align: right;
        justify-items: center;
        align-content: center;
        vertical-align: middle;
    }
    .logo{
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-left: 10px;
    }
    .head_nm{
        font-size: 15px
    }
    .menu-icon{
        display: block;
        position: absolute;
        margin: 10px 10px;
        cursor: pointer;
    }

    /* Hide the panel by default on smaller screens */
    .panel{
        width: 100%;
        background-color: rgb(255, 255, 255);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        padding: 10px 0px 10px 0px;
    }

    .panel .list:hover{
        border-radius: 5px;
        color: rgb(52, 109, 219);
        background-color: rgba(133, 173, 253, 0.824);
    }

    .unorder{
        list-style-type: none;
        font-size: 10px;
    }
    
    .unorder li{
        padding-left: 0;
        margin-bottom: 7px;
    }
     
    .cont{
        font-weight: bold;
        font-size: 10px;
    }
    
    .list{
        margin-top: 20px;
        margin-left: 20px;
        justify-content: space-evenly;
    }
    
    
    .show-menu{
        max-height: 900px;  
    }

    .div2{
        flex-direction: column;
    }

    .main{
        width: 100%;
        padding: 20px 0px;
        /* text-align: center; */
    }
    .bold_nm{
        width: 80%;
        font-size: 15px;
        margin: auto;
        margin-bottom: 20px; 
    }
    .para{
        width: 80%;
        font-size: 16px;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .brn{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    
    .brain{
        width: 100%;
        height: 332px;
        margin-bottom: 20px;
    }

    .vd{
        width :80%;
        text-align: center;
        margin: auto;
    }
    
    .vid{
        width: 100%;
        height: 350px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .conet{
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .connect{
        width: 100%;
        height: 60px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

/* For Tablet Screens (max-width: 694px)*/
@media only screen and (max-width: 694px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: 54px;
    }
    .div1{
        width: 100%;
    }
    .head1{
        width: 100%;
    }
    .head2{
        justify-items: flex-start;
        align-content: flex-start;
        vertical-align: middle;
    } 
    .logo{
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .menu-icon{
        width: 20px;
        height: 20px;
    }

    .head_nm{
        margin-left: 2px;
        font-size: 13px;
    }

    .search{
        width: 180px;
        height: 30px;
    }
    
    .symbol{
        width: 18px;
        height: 18px;
    }
    .se{
        width: 18px;
        height: 18px;
    }
    .srch{
        color: rgb(150, 150, 150);
        font-size: 15px;
    }
    
    .src{
        color: rgb(196, 196, 196);
        font-size: 10px;
        margin-left: 20px;
    }
    
}

/* For Tablet Screens (max-width: 516px)*/
@media only screen and (max-width: 516px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: 44px;
    }
    .div1{
        width: 100%;
    }
    .head1{
        width: 100%;
    }
    .head2{
        width: 30%;
    }
    .logo{
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .search{
        margin-top: 10px;
        padding: 0px;
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    .symbol{
        width: 30px;
        height: 30px;
    }

    .se{
        width: 25px;
        height: 25px;
    }
    .srch{
        display: none;
    }
    .src{
        display: none;
    }
    .menu-icon{
        width: 15px;
        height: 15px;
    }

    .head_nm{
        margin-left: 2px;
        font-size: 13px;
    }

    .bold_nm{
        font-size: 13px;
        text-align: left;
    }
    
    .para{
        width: 95%;
        font-size: 15px;
        text-align: left;
    }
    .brn{
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .brain{
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }
    
    .vd{
        width :95%;
       
        margin-bottom: 20px;
    }
    .vid{
        height: 250px;
    }

    .conet{
        width: 95%;
        text-align: center;
        margin: auto;
    }
    .connect{
        width: 100%;
        height: 60px;
    }
}

/* For Tablet Screens (max-width: 368px)*/
@media only screen and (max-width: 368px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: 34px;
    }
    .div1{
        width: 100%;
    }
    .head1{
        width: 100%;
    }
    .head2{
        width: 30%;
    }
    .logo{
        width: 18px;
        height: 18px;
        margin-left: 8px;
    }
    .head_nm{
        font-size: 10px;
    }

    .search{
        margin-top: 10px;
       
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
    .symbol{
        width: 25px;
        height: 25px;
    }

    .se{
        width: 23px;
        height: 23px;
    }

    .bold_nm{
        font-size: 10px
    }

    .para{
        font-size: 12px;
    }
}