*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
}

.content{
    margin: 1px 0px 0px;
    padding: 32px 16px;
}

.hedding{
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0px;
}

.cols3{
    width: 100%;
    font-size: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.first{
    width: 25%;
    padding: 8px 16px;
}

.second{
    width: 25%;
    padding: 8px 16px;
}

.third{
    width: 25%;
    padding: 8px 16px;
}

.unorder{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
}

.unorder li{
    border-bottom: 1px solid #ddd;
    height: 43px;
    align-content: center;
    padding: 8px 16px;
}

.anchor{
    text-decoration: none;
    color: black;
    text-align: center;
}

.unorder li:hover{
    background-color: #E91E63;
    color: white;
}

.anchor:hover{
    color: white;
}

/* Media Queries for Responsiveness */

/* For Tablet Screens (max-width: 793px) */
@media only screen and (max-width: 793px){
    .container{
        width: 100%;
    }

    .unorder{
        font-size: 16px;
    }
    
    .unorder li{
        height: 40px;
        padding: 8px 8px;
    }
    
}

/* For Tablet Screens (max-width: 659px) */
@media only screen and (max-width: 659px){
    .container{
        width: 100%;
    }

    .unorder{
        font-size: 15px;
    }
    
    .unorder li{
        height: 40px;
        padding: 4px 6px;
    }
    
}

/* For Tablet Screens (max-width: 607px) */
@media only screen and (max-width: 607px){
    .container{
        width: 100%;
    }

    .unorder{
        font-size: 13px;
    }
    
    .unorder li{
        height: 40px;
        padding: 4px 6px;
    }
    
}

/* For Tablet Screens (max-width: 428px) */
@media only screen and (max-width: 428px){
    .container{
        width: 100%;
    }
    
    .cols3{
        width: 100%;
        font-size: 15px;
        text-align: center;
        display: block;
        justify-items: center;
    }
    
    .first{
        width: 100%;
        padding: 8px 16px;
    }
    
    .second{
        width: 100%;
        padding: 8px 16px;
    }
    
    .third{
        width: 100%;
        padding: 8px 16px;
    }
    
    .unorder{
        list-style-type: none;
        font-size: 18px;
        text-align: center;
    }
}


/* For Tablet Screens (max-width: 162px) */
@media only screen and (max-width: 162px){
    .container{
        width: 100%;
    }
    
    .cols3{
        width: 100%;
        font-size: 13px;
    }
    
    .first{
        width: 100%;
        padding: 8px 16px;
    }
    
    .second{
        width: 100%;
        padding: 8px 16px;
    }
    
    .third{
        width: 100%;
        padding: 8px 16px;
    }
    
    .unorder{
        list-style-type: none;
        font-size: 13px;
        text-align: center;
    }
}
